@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--bg: hsl(hsl(0, 0%, 17%));
}

#container {
	mask: linear-gradient(90deg, transparent, rgb(166, 90, 90) 40%, white 60%, transparent);
	-webkit-mask: linear-gradient(90deg, transparent, white 40%, white 60%, transparent);
}

/* Inputs in contact section */
.input {
	background-color: transparent;
	border: 1px solid hsl(262, 7%, 76%);
	border-radius: 10px;
}

#hello {
	animation: fadeOut 50ms;
}

@keyframes fadeOut {
	100% {
		opacity: 100%;
	}
	0% {
		opacity: 0%;
	}
}

.fadeIn {
    animation: fadeIn 300ms ease-in forwards;
}

@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.prose {

	text-align: start;

	ul {
		list-style: none;
	}

	p {
		font-size: 1rem;
	}

	:is(h1, h2, h3, h4, h5, h6) {
		color: hsl(262, 7%, 76%);
	}

	h1 {
		font-size: 2em;
		font-weight: 700;
	}

	pre {
		background-color: hsl(0 0% 11%);
		border-radius: 5px;
		width: 60%;
		margin: 1rem auto;
		padding: 1rem;

		code {
			/* color: white; */
		}

		.keyword {
			/* color: lightsalmon; */
		}
	}

	table {
		width: 50%;
		margin: 0 auto;
	}

	th {
		font-size: 1.5em;
		color: hsl(262, 7%, 76%);
	}

	tbody {
		font-size: 1em;
		line-height: 1.5em;
		text-align: center;
	}
}